*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

nav{
  display: inline-block;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color:black;
}

.flex-style{
  display: flex;
}

.std-btn{
  background-color: rgb(57,97,251);
  color:white;
}

.std-btn a{
  color:white;
}

.large-container{
  max-width:1200px;
  width:70%;
  margin:0 auto;
  border: 2px solid red;

}

.narrow-container{
  max-width:1200px;
  width:50%;
  margin:0 auto;
  border: 2px solid green;

}

/* header */

header{
  background-color: white;
  height:100px;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  height:20px;
  vertical-align: middle;
}


/* JUMBOTRON */

.jumbotron{
  background: linear-gradient(to bottom, rgb(187,207,230) 85%, white 15%);
  height:80%; 
}

.jumbo-columns{
  align-items: flex-start;
}

.left-jumbo-col{
  width: 35%;
  padding-top: 70px;
}

.right-jumbo-col img{
  max-width:100%;
}

/* Business plans */

.subscribe-plans, .top-user-type {
  border:1px solid rgb(227,227,229);
}

.subscribe-plans{
  justify-content: space-between;
}

.plan-col{
  width:calc(100% / 3);
}

.top-user-type{
  text-align: center;
}

.bottom-plan-details .price::before{
  content: '\20AC';
}

.bottom-plan-details .time-frame{
  color:rgb(227,227,229);
  margin-bottom:20px;
}

.bottom-plan-details .user-list-style::before{
  font-family: "Font Awesome 5 Free";
  content: '\f007' '\00a0 ';
  font-weight: 600;
}

.bottom-plan-details .folder-list-style::before{
  font-family: "Font Awesome 5 Free";
  content: '\f07b''\00a0 ';
  font-weight: 600;
}

.bottom-plan-details .share-list-style::before{
  font-family: "Font Awesome 5 Free";
  content: '\f1e0''\00a0 ';
  font-weight: 600;
}

.bottom-plan-details .short-line{
  width:40%;
  height:1px;
  border-top:1px solid rgb(227,227,229);
}

.bottom-plan-details .plan-milestones li::before{
  font-family: "Font Awesome 5 Free";
  content: '\f00c''\00a0 ';
  font-weight: 600;
  color:blue;
}


/* parteners */
.partners{
  padding-top:50px;
}

.partners .partners-img{
  width:60%;
}

.partners .partners-text{
  width:40%;
}

.partners .partners-img img{
  max-width:100%;
}

.border-btn{
  border:1px solid black;
  padding:15px 20px;
}

/* Dropbox Business */
.multi-block-container{
  flex-wrap: wrap;
}
.dropbox-business .pro-card{
  width:calc(99% / 3);
  min-width:200px;
}

.dropbox-business .pro-card img{
  width:100%;
}


/* squares */
.square-col{
  flex-direction: column;
}
.square{
  width:100px;
  height:100px;
}

.fifth-big{
  width: 200px;
  height:200px;
}

.first{
  background-color: rgb(176,210,157);
}
.second{
  background-color: rgb(84,146,203);
}

.third{
  background-color: rgb(85,11,46);
}

.fourth{
  background-color: rgb(217,33,34);
}

.fifth-big{
  background-color: rgb(245,245,245);
}

.sixth{
  background-color: rgb(182,1,36);
}

.seventh{

  background-color: rgb(28,40,126);
}

.eighth{
  background-color: rgb(187,207,230);
}

.ninth{
  background-color: rgb(243,214,69);
}
