*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color:black;
}

.flex-style{
  display: flex;
}

.btn-std{
  background-color: rgb(57,97,251);
  color:white;
  padding:5px 8px;
  text-align:center;
}

.btn-std:hover{
  background-color: rgb(89, 114, 211)
}

.btn-std a{
  color:white;
}

.large-container{
  max-width:1200px;
  width:60%;
  margin:0 auto;
  border: 2px solid red;

}

.narrow-container{
  max-width:1200px;
  width:50%;
  margin:0 auto;
}

/* header */

header{
  background-color: white;
  height:80px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  height:20px;
  vertical-align: middle;
  margin-right:1rem;
}

header nav{
  align-items: center;
}

header ul{
  justify-content: space-between;
  align-items: center;
}

header ul li{
  display:inline-block;
  padding:0 1.3rem;
}

header ul li a{
  font-size:0.9rem;
  font-weight: 200;
  display: inline-block;
  padding:30px 0;
}

header ul li a:not(.btn-std):hover{
  border-bottom:2px solid black;
}


/* JUMBOTRON */

.jumbotron{
  background: linear-gradient(to bottom, rgb(187,207,230) 80%, white 20%);
  height:75%; 
}

.jumbotron h1{
  font-size:3rem;
  font-weight: 900;
}

.jumbo-columns{
  align-items: flex-start;
  justify-content: space-between;
  padding-top:2.2rem;
  flex-wrap: wrap;
}

.left-jumbo-col{
  width:30%;
  flex-direction: column;
  justify-content: space-between;
}

.left-jumbo-col *{
  margin-bottom:2.5rem;
}


.left-jumbo-col .jumbo-text{
  font-weight:200;
}

.left-jumbo-col .btn-std{
  display: inline;
}

.left-jumbo-col .down-arrow{
  font-size:2.2rem;
}

.right-jumbo-col{
  width: 69%;
  text-align: right;
}

.right-jumbo-col img{
  max-width:100%;
}

/* Business plans */

.business-solutions{
  margin-top:3.2rem;
}

.business-solutions h2{
  font-size:2.2rem;
  margin-bottom:2rem;
}

.business-solutions .radio-plan{
  margin-bottom: 1.5rem;
}

.business-solutions .radio-plan i.fa-solid{
  color:blue;
}

.business-solutions .radio-plan i.fa-regular{
  color:grey;
  margin-left:20px;
}

.subscribe-plans, .top-user-type {
  border:1px solid rgb(227,227,229);
}

.subscribe-plans{
  justify-content: space-between;
}

.plan-col{
  width:calc(100% / 3);
}

.top-user-type{
  text-align: center;
}

.bottom-plan-details .price::before{
  content: '\20AC';
}

.bottom-plan-details .time-frame{
  color:rgb(227,227,229);
  margin-bottom:20px;
}

.bottom-plan-details .user-list-style::before{
  font-family: "Font Awesome 5 Free";
  content: '\f007' '\00a0 ';
  font-weight: 600;
}

.bottom-plan-details .folder-list-style::before{
  font-family: "Font Awesome 5 Free";
  content: '\f07b''\00a0 ';
  font-weight: 600;
}

.bottom-plan-details .share-list-style::before{
  font-family: "Font Awesome 5 Free";
  content: '\f1e0''\00a0 ';
  font-weight: 600;
}

.bottom-plan-details .short-line{
  width:40%;
  height:1px;
  border-top:1px solid rgb(227,227,229);
}

.bottom-plan-details .plan-milestones li::before{
  font-family: "Font Awesome 5 Free";
  content: '\f00c''\00a0 ';
  font-weight: 600;
  color:blue;
}


/* parteners */
.partners{
  padding-top:50px;
}

.partners .partners-img{
  width:60%;
}

.partners .partners-text{
  width:40%;
}

.partners .partners-img img{
  max-width:100%;
}

.btn-border{
  border:none;
  padding:8px 10px;
  background-color: white;
}

/* Dropbox Business */
.multi-block-container{
  flex-wrap: wrap;
}
.dropbox-business .pro-card{
  width:calc(99% / 3);
  min-width:200px;
}

.dropbox-business .pro-card img{
  width:100%;
}


/* squares */

.squares{
  width:100%;
  text-align:center;
  margin:0 auto;
  align-items: center;
  justify-content: flex-start;
}

.square-col{
  flex-direction: column;
  width:calc(100% / 6);
  height: calc(100vw / 3);
}

#fifth-big-square{
  width:calc(100% / 3);
  height: calc(100vw / 3);
  background-color: rgb(245,245,245);
}

.square{
  width:100%;
  height:50%;
}

.first{
  background-color: rgb(176,210,157);
}
.second{
  background-color: rgb(84,146,203);
}

.third{
  background-color: rgb(85,11,46);
}

.fourth{
  background-color: rgb(217,33,34);
}

.sixth{
  background-color: rgb(182,1,36);
}

.seventh{

  background-color: rgb(28,40,126);
}

.eighth{
  background-color: rgb(187,207,230);
}

.ninth{
  background-color: rgb(243,214,69);
}

/* free-trial */

.free-trial{
  background-color: rgb(187,207,230);
}

.free-trial .narrow-container{
  justify-content: space-between;
  align-items: center;
  padding:6vw 0;
}

.free-trial .narrow-container>h2{
  color:rgb(82,1,29);
  max-width:40%;
  font-size:1.2rem;
}

/* F.A.Q. */

.faq {
  background-color: white;
}

.faq .narrow-container .faq-box{
  padding:2rem;
  border-top:1px solid rgb(152,152,152);
}

.faq .narrow-container .faq-box:last-child{
  border-bottom:1px solid rgb(152,152,152);
}


/* footer */

footer{
  background-color: black;
  color: white;
}

footer .flex-style{
  justify-content: space-between;
}

footer a{
  color:white;
  font-size:0.8rem;
  margin-top:1.2rem;
}

footer .lang-choose{
  width:fit-content;
  border-top:1px solid white;
  padding:30px 5px;
  text-align: left;
}

footer .lang-choose a::before{
  font-family: "Font Awesome 5 Free";
  content: '\f57d''\00a0 ';
  font-weight: 600;
  color:white;
}

footer .lang-choose a.language::after{
  font-family: "Font Awesome 5 Free";
  content: '\00a0 ''\f078';
  font-weight: 600;
  color:white;
}